IntelliScraper/Xml/Copia di iSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="iSchema" targetNamespace="http://tempuri.org/iSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/iSchema.xsd" xmlns:mstns="http://tempuri.org/iSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="intelliScraper">
  <xs:complexType>
    <xs:sequence>
        <xs:element name="Project">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="ProjectInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="projectName"/>
                    <xs:element type="xs:boolean" name="showInitialMessage"/>
                    <xs:element type="xs:string" name="initialMessage"/>
                    <xs:element type="xs:boolean" name="logIscraperInfo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ProxyInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="useProxy"/>
                    <xs:element type="xs:string" name="proxyFile"/>
                    <xs:element  name="type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="file" />
                          <xs:enumeration value="custom" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="proxies" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:boolean" name="autenticate"/>
                          <xs:element type="xs:string" name="userName"/>
                          <xs:element type="xs:string" name="password"/>
                          <xs:element type="xs:string" name="domain"/>
                          <xs:element type="xs:string" name="ip"/>
                          <xs:element type="xs:string" name="port"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="ScrapingSetting">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element type="xs:int" name="waitEachRequestMilliseconds"/>
                    <xs:element type="xs:int" name="waitAfterError"/>
                    <xs:element type="xs:string" name="imageFolderDownload"/>

                    <xs:element name="GlobalHttpHeadersInfo" type="HttpHeadersInfo" minOccurs="0" maxOccurs="unbounded" />
                    
                    <xs:element name="GlobalUserAgentsInfo" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:boolean" name="loadAgentsFromFile"/>
                          <xs:element type="xs:string" name="customUserAgentFile"/>                         
                          <xs:element name="agentValue" maxOccurs="unbounded" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element  name="FtpSetting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="authenticate" />
                    <xs:element type="xs:string" name="ftpServerString" />
                    <xs:element type="xs:string" name="user" />
                    <xs:element type="xs:string" name="pass" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="StoreInfo" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Id"/>
                    <xs:element  name="type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="sqlServer" />
                          <xs:enumeration value="sqlServerCE" />
                          <xs:enumeration value="MySql" />
                          <xs:enumeration value="PostgreSQL" />
                          <xs:enumeration value="Oracle" />
                          <xs:enumeration value="csv" />
                          <xs:enumeration value="excel" />
                          <xs:enumeration value="json" />
                          <xs:enumeration value="xml" />
                          <xs:enumeration value="none" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="CsvExcelSetting">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="csvHeader"/>
                          <xs:element type="xs:string" name="csvFileSaveTo" />
                          <xs:element type="xs:boolean" name="csvFileClear" />
                          <xs:element type="xs:string" name="csvSeparator" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="DatabaseSetting">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="connection"/>
                          <xs:element type="xs:string" name="providerName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="XmlSetting">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="xmlFileSaveTo" />
                          <xs:element type="xs:boolean" name="xmlFileClear" />
                          <xs:element type="xs:string" name="xmlParentTag" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="JsonSetting">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="jsonFileSaveTo" />
                          <xs:element type="xs:boolean" name="jsonFileClear" />
                          <xs:element type="xs:string" name="jsonParentTag" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>


                  </xs:sequence>
                </xs:complexType>
              </xs:element>


            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rule" type="RuleEntity" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

       <xs:element type="xs:string" name="downloadedFiles" minOccurs="0" maxOccurs="unbounded"/>

    </xs:sequence>
  </xs:complexType>
</xs:element>
    
<xs:complexType name="RuleEntity">
  <xs:sequence>
    <xs:element type="xs:string" name="Id"/>
    <xs:element type="xs:string" name="inputRuleId"/>
    <xs:element type="xs:string" name="attributeLinkId"/>
    <xs:element type="xs:boolean" name="isTrigger"/>
    
    <!-- Property data -->
    <xs:element type="xs:string" name="getUrl"/>
    <xs:element type="xs:string" name="pluginName"/>
    <xs:element type="xs:string" name="htmlFileName"/>


    <xs:element  name="CustomUserAgents">
      <xs:complexType>
        <xs:sequence>
            <xs:element name="agent" type="xs:string"  />
          <xs:element type="xs:boolean" name="useCustomUserAgent" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="CustomHttpHeadersInfo" type="HttpHeadersInfo" minOccurs="0" maxOccurs="unbounded" />

    <!--
    <xs:element  name="FetchType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="attribute-int" />
          <xs:enumeration value="attribute-string" />
          <xs:enumeration value="list-string" />
          <xs:enumeration value="node" />
          <xs:enumeration value="node-list" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    -->

    <xs:element  name="FetchedData">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:string" name="html"/>
          <xs:element type="xs:anyType" name="value"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element  name="InputData">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:boolean" name="getInputData" />
          <xs:element name="type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="load-custom-url-html" />
                <xs:enumeration value="ruleId-Rule" />
                <xs:enumeration value="ruleId-String" />
                <xs:enumeration value="none" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="PostProcessInputData" type="ProcessDataEntity" minOccurs="0" maxOccurs="unbounded" />

        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="ActionType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="httpGet" />
          <xs:enumeration value="httpPost" />
          <xs:enumeration value="Upload" />
          <xs:enumeration value="Download" />
          <xs:enumeration value="plugin" />
          <xs:enumeration value="attribute-FromInputData" /> 
          <xs:enumeration value="loop_links" />
          <xs:enumeration value="loadHtmlFromfile" />
          <xs:enumeration value="ftpPut" />
          <xs:enumeration value="zip" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

    <xs:element  name="ActionLoopLink">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:string" name="attributeId"/>

          <xs:element name="ActionType">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="inputRuleId_attributeCollection" />
                <xs:enumeration value="customUrl" />
                <xs:enumeration value="csv-Link-List" />
                <xs:enumeration value="database-Link-List" />
                <xs:enumeration value="none" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>

          <xs:element  name="StartEndData">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:string" name="url"/>
                  <xs:element type="xs:boolean" name="getEndPageNumberFromRule"/>
                <xs:element type="xs:boolean" name="getStartPageNumberFromRule"/>
                  <xs:element type="xs:string" name="ruleId_getEndPage"/>
                <xs:element type="xs:string" name="ruleId_getStartPage"/>
                  <xs:element type="xs:int" name="start"/>
                  <xs:element type="xs:int" name="end"/>
                  <xs:element type="xs:string" name="appendBeforePageNumber"/>
                  <xs:element type="xs:string" name="appendAfterPageNumber"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
                   
          <!-- Attributes fetched here will joined with this rule -->
          <xs:element type="xs:string" name="triggerRuleId" minOccurs="0" maxOccurs="unbounded"/>
          
         </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="MultiThreadOption">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:boolean" name="enableMultithread" />
          <xs:element type="xs:boolean" name="setThreadMaxNumbers" />
          <xs:element type="xs:int" name="ThreadNumbers" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    
    <xs:element name="Attributes">
      <xs:complexType>
        <xs:sequence>                
            <xs:element type="xs:string" name="xpath"/>
            <xs:element type="xs:boolean" name="useNodeInput"/>
            <xs:element type="xs:string" name="node_rule_id"/>
            <xs:element name="nodeInputType">
              <xs:simpleType>
                <xs:restriction base="xs:string" >
                  <xs:enumeration value="node" />
                  <xs:enumeration value="nodes" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="collection">
            <xs:complexType>
              <xs:sequence>
                  <xs:element type="xs:string" name="xpathForList"/>
                  <xs:element type="xs:anyType" name="fetchedNodes"/>
                  <xs:element type="xs:boolean" name="useAttributeCollection"/>
                  <xs:element type="xs:string" name="inputRuleId"/>
                <xs:element type="xs:boolean" name="getHtmlFromRule"/>
                  <xs:element type="xpathEntity" name="attribute" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
                    
          
            <xs:element type="xpathEntity" name="attribute" minOccurs="0" maxOccurs="unbounded"/>            
        </xs:sequence>
      </xs:complexType>
    </xs:element>
   
    <xs:element name="ActionDownload">
      <xs:complexType>
        <xs:sequence>          
          <xs:element type="xs:boolean" name="autoRename"/>
          <xs:element type="xs:string" name="inputRuleId-xPathId"/>
          <xs:element name="DirSaveToFileInfo">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:string" name="startFolder"/>
                <xs:element type="xs:boolean" name="generateSubFolder"/>
                <xs:element type="xs:string" name="SubFolderCustomName"/>
                <xs:element name="subfolderNameType">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="yy_mm_dd" />
                      <xs:enumeration value="yy_mm" />
                      <xs:enumeration value="yy" />
                      <xs:enumeration value="mm" />
                      <xs:enumeration value="dd" />
                      <xs:enumeration value="mm_dd" />
                      <xs:enumeration value="custom" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="ActionZip">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:boolean" name="deleteZippedFiles" default="true" />
          <xs:element type="xs:string" name="attributeRulesId" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="type">
            <xs:simpleType>             
              <xs:restriction base="xs:string">
                <xs:enumeration value="zipAllDownloadedFiles" />
                <xs:enumeration value="zipCustomFilesByRulesId" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="Triggers">
      <xs:complexType>
        <xs:sequence>

          <xs:element name="PostProcessData" type="ProcessDataEntity" minOccurs="0" maxOccurs="0" />
          
          <xs:element name="Save">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:string" name="storeId" />
                <xs:element type="xs:string" name="tableName" />
                <xs:element  name="mapping" >
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element  name="map"  minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="mapColName" />
                            <xs:element type="xs:string" name="refId" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

                <xs:element type="xs:boolean" name="checkExistBeforeSave"/>
                <xs:element type="xs:string" name="checkExistAttributes"/>
                <xs:element  name="ifExist">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="update" />
                      <xs:enumeration value="delete" />
                      <xs:enumeration value="stopAll" />
                      <xs:enumeration value="none" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>


              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element name="FtpUploadFiles" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:string" name="ruleIdRefFileName"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element name="ImageConvert">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:boolean" name="convertToFormat"/>
                <xs:element name="convertType">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="jpg" />
                      <xs:enumeration value="png" />
                      <xs:enumeration value="tiff" />
                      <xs:enumeration value="bmp" />
                      <xs:enumeration value="ico" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>

                <xs:element type="xs:boolean" name="changeSize"/>
                <xs:element type="xs:int" name="toSizew"/>
                <xs:element type="xs:int" name="toSizeH"/>
                <xs:element type="xs:boolean" name="createThumbs"/>
                <xs:element type="xs:boolean" name="createThumbFolder"/>
                <xs:element name="Thumbs" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element type="xs:string" name="name"/>
                      <xs:element type="xs:int" name="toSizeH"/>
                      <xs:element type="xs:int" name="toSizeW"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element name="OnError">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="type">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="log" />
                      <xs:enumeration value="stopAll" />
                      <xs:enumeration value="logToDatabase" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="logToDatabaseMapping">
                  <xs:complexType>                    
                    <xs:sequence>
                      <xs:element type="xs:string" name="mapLogErrorColName" />
                      <xs:element  name="map"  minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element type="xs:string" name="mapColName" />
                            <xs:element type="xs:string" name="refId" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>                    
                </xs:element>
                
              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <xs:element name="Zip">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:boolean" name="deleteZippedFile" />
                <xs:element type="xs:boolean" name="zipFile" />
                <xs:element name="zipFileInputType">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="fromRuleId_attribute" />
                      <xs:enumeration value="currentRule_attribute" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>

          <!-- Attributes fetched here will joined with this rule -->
          <xs:element type="xs:string" name="triggerRuleId" minOccurs="0" maxOccurs="unbounded"/>

        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="HttpPostData">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="httpPostUrl">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="url" type="xs:string" />
                <xs:element name="loadUrlFromId" type="xs:boolean" />
                <xs:element name="refId" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="params" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="key" type="xs:string" />
                <xs:element name="value" type="xs:string" />
                <xs:element name="refId" type="xs:string" />
                <xs:element name="getValueFromRuleId" type="xs:boolean" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
   
  </xs:sequence>
</xs:complexType>

<xs:complexType name="xpathEntity">
  <xs:sequence>
    <xs:element type="xs:string" name="id"/>
    <xs:element type="xs:string" name="xpath"/>
    <xs:element type="xs:string" name="attributeName"/>
    <xs:element type="xs:anyType" name="fetchedData" />
    <xs:element name="getType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="attribute" />
          <xs:enumeration value="text" />
          <xs:enumeration value="html" />
          <xs:enumeration value="singleNode" />
          <xs:enumeration value="nodeCollection" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

    <xs:element name="inputType">
      <xs:simpleType>
        <xs:restriction base="xs:string" >
          <xs:enumeration value="html" />
          <xs:enumeration value="node" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

    <xs:element name="PostProcessData" type="ProcessDataEntity" minOccurs="0" maxOccurs="unbounded" />


  </xs:sequence>
</xs:complexType>
 
<xs:complexType name="HttpHeadersInfo">
  <xs:sequence>
    <xs:element  name="name" type="xs:string" />
    <xs:element  name="value" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="StartEndWithEntity">
  <xs:sequence>
    <xs:element type="xs:boolean" name="startEndWithEnabled"/>
    <xs:element type="xs:string" name="starEndtWithVal"/>
    <xs:element type="xs:string" name="startEndWithAddVal"/>
    <xs:element  name="attachType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="before" />
          <xs:enumeration value="after" />
          <xs:enumeration value="both" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="ProcessDataEntity">
  <xs:sequence>
    <xs:element type="xs:string" name="id"/>

    <xs:element  name="Substring" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element  name="type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="simple" />
                <xs:enumeration value="fromTo" />
                <xs:enumeration value="search" />
                <xs:enumeration value="searchTo" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element type="xs:int" name="substring"/>
          <xs:element type="xs:int" name="substringFrom"/>
          <xs:element type="xs:int" name="substringTo"/>
          <xs:element type="xs:string" name="substringSearch"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element  name="Replace" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:string" name="findText" />
          <xs:element type="xs:string" name="replaceText"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element  name="WhenTrim">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="before" />
          <xs:enumeration value="after" />
          <xs:enumeration value="both" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

    <xs:element  name="Trim" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element  name="type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="trimStart" />
                <xs:enumeration value="trimEnd" />
                <xs:enumeration value="both" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element type="xs:string" name="trimValue" default=" "/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element  name="Append" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:string" name="appendValue"/>
          <xs:element name="type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="before" />
                <xs:enumeration value="after" />
                <xs:enumeration value="both" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element type="StartEndWithEntity" name="StartWith" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element type="StartEndWithEntity" name="EndWith"  minOccurs="0" maxOccurs="unbounded"/>

    <xs:element type="xs:string" name="regularExpressionValue"  minOccurs="0" maxOccurs="unbounded"/>
    
    <xs:element type="xs:boolean" name="HtmlDecode"/>
    <xs:element type="xs:boolean" name="HtmlEncode"/>

  </xs:sequence>
</xs:complexType>

</xs:schema>



    