IntelliScraper/Xml/data.xsd

<xs:schema  attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="attachTypeEntity">
  <xs:sequence>
    <xs:element  name="attachType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="before" />
          <xs:enumeration value="after" />
          <xs:enumeration value="both" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="httpHeaders">
  <xs:sequence>
    <xs:element  name="name" type="xs:string" />
    <xs:element  name="value" type="xs:string" />
  </xs:sequence>
</xs:complexType>

  <!-- Define Replace StartEnd with Entity -->
<xs:complexType name="ResultActionEntity">
  <xs:sequence>
    
    <xs:element  name="substringType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="simple" />
          <xs:enumeration value="fromTo" />
          <xs:enumeration value="search" />
          <xs:enumeration value="searchTo" />
        </xs:restriction>        
      </xs:simpleType>
    </xs:element>

    <xs:element type="xs:boolean" name="HtmlDecode"/>
  

    <xs:element type="xs:boolean" name="makeSubstring"/>
    <xs:element type="xs:int" name="substring"/>
    <xs:element type="xs:int" name="substringFrom"/>
    <xs:element type="xs:int" name="substringTo"/>
    <xs:element type="xs:string" name="substringSearch"/>

    <xs:element type="xs:boolean" name="startWithEnabled"/>
    <xs:element type="xs:string" name="startWithVal"/>
    <xs:element type="xs:string" name="startWithAddVal"/>
    <xs:element type="attachTypeEntity" name="startWithAttachType" />

    <xs:element type="xs:boolean" name="endWithEnabled"/>
    <xs:element type="xs:string" name="endWithVal"/>
    <xs:element type="xs:string" name="endWithAddVal"/>
    <xs:element type="attachTypeEntity" name="endWithAttachType" />

    <xs:element type="xs:boolean" name="trim"/>
    <xs:element type="xs:boolean" name="replace"/>
    <xs:element type="xs:string" name="findText" />
    <xs:element type="xs:string" name="replaceText"/>

    <xs:element type="xs:boolean" name="useRegularExpression"/>
    <xs:element type="xs:string" name="regularExpression"/>

  </xs:sequence>
</xs:complexType>

<!-- Define ConvertAction Entity -->
<xs:complexType  name="ConvertActionEntity">
  <xs:sequence>
    <xs:element type="xs:boolean" name="convertToFormat"/>   
    <xs:element name="convertImageType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="jpg" />
          <xs:enumeration value="png" />
          <xs:enumeration value="tiff" />
          <xs:enumeration value="bmp" />
          <xs:enumeration value="ico" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    
    <xs:element type="xs:boolean" name="changeSize"/>
    <xs:element type="xs:int" name="toSizew"/>
    <xs:element type="xs:int" name="toSizeH"/>
    <xs:element type="xs:boolean" name="createThumbs"/>
    <xs:element type="xs:boolean" name="createThumbFolder"/>
    <xs:element name="Thumbs" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element type="xs:string" name="name"/>
          <xs:element type="xs:int" name="toSizeH"/>
          <xs:element type="xs:int" name="toSizeW"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- Define xpathEntity-->
<xs:complexType name="xpathEntity">
  <xs:sequence>
    <xs:element type="xs:string" name="id"/>
    <xs:element type="xs:string" name="description"/>
    <xs:element type="xs:string" name="inputRuleId"/>
    <xs:element type="xs:string" name="url"/>
    <xs:element type="xs:string" name="xpath"/>
    <xs:element type="xs:string" name="attributeName"/>
    <xs:element type="xs:anyType" name="fetchedData" />
    <xs:element type="ResultActionEntity" name="postProcessData" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="getType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="attribute" />
          <xs:enumeration value="text" />
          <xs:enumeration value="html" />
          <xs:enumeration value="singleNode" />
          <xs:enumeration value="nodeCollection" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>   
    <xs:element name="FindType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inputData" />
          <xs:enumeration value="getUrl" />
          <xs:enumeration value="previusRule" />
          <xs:enumeration value="previusXpath" />
          <xs:enumeration value="pageLoop" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

    <xs:element name="inputCollectionType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="singleNode" />
          <xs:enumeration value="nodeCollection" />
          <xs:enumeration value="none" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

  </xs:sequence>
</xs:complexType>
    
<!-- Define Rule Entity -->
<xs:complexType name="RuleEntity">
    <xs:sequence>
           
        <xs:element type="xs:string" name="id"/>    
        <xs:element type="xs:anyType" name="fetchedData" />
        <xs:element type="xs:string" name="url"/>
        <xs:element type="xs:boolean" name="usePlugin"/>
        <xs:element type="xs:boolean" name="download"/>
        <xs:element type="xs:string" name="pluginName"/>
        <xs:element type="xs:string" name="htmlFileName"/>
        <xs:element type="httpHeaders" name="customHttpHeader" maxOccurs="unbounded" minOccurs="0" />
        <xs:element name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="httpGet" />
              <xs:enumeration value="httpPost" />
              <xs:enumeration value="plugin" />
              <xs:enumeration value="xpath" />
              <xs:enumeration value="loadHtmlFromfile" />
              <xs:enumeration value="ftpPut" />
              <xs:enumeration value="ftpGet" />
            </xs:restriction>                
          </xs:simpleType>
        </xs:element>
      
        <xs:element name="xpath">
        <xs:complexType>
          <xs:sequence>           
            <xs:element name="type">
              <xs:simpleType>
                <xs:restriction base="xs:string">                    
                  <xs:enumeration value="single" />
                  <xs:enumeration value="collection" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element type="xpathEntity"  name="xpathRule"  minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>              
        </xs:complexType>
      </xs:element>
           

        <!--When data was fetched wich operation will be made?-->
        <xs:element name="ResultAction"  type="ResultActionEntity"  minOccurs="0" maxOccurs="unbounded" />
            

        <!-- Download Info -->
        <xs:element name="DownloadAction">              
          <xs:complexType>
            <xs:sequence>
              <xs:element type="ConvertActionEntity" name="ImgConvertAction" minOccurs="0"/>
              <xs:element type="xs:boolean" name="autoRenameImage"/>
              <xs:element type="xs:string" name="inputRuleId-xPathId"/>
              <xs:element name="DirSaveToFileInfo">              
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="startFolder"/>
                    <xs:element type="xs:boolean" name="generateSubFolder"/>
                    <xs:element type="xs:string" name="SubFolderCustomName"/>
                    <xs:element name="subfolderNameType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="yy_mm_dd" />
                          <xs:enumeration value="yy_mm" />
                          <xs:enumeration value="yy" />
                          <xs:enumeration value="mm" />
                          <xs:enumeration value="dd" />
                          <xs:enumeration value="mm_dd" />
                          <xs:enumeration value="custom" />
                        </xs:restriction>                            
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
    </xs:sequence>
  </xs:complexType>

<!--Save Entity-->
<xs:complexType name="SaveEntity">
  <xs:sequence>

    <xs:element type="xs:boolean" name="enableSave" />
    
    <!--Wich kind of mapping and save will be made?-->
    <!-- 
    <xs:element  name="inputType">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="xpathSingle" />
          <xs:enumeration value="xpathMultipleData" />
          <xs:enumeration value="xpathDataChildrenList" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
-->
    <!--Table mapping-->
    <xs:element type="xs:string" name="tableName" />
    <xs:element  name="mapping" >
      <xs:complexType>
        <xs:sequence>
          <xs:element  name="map"  minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element type="xs:string" name="mapColName" />
                <xs:element type="xs:string" name="refId" />
              </xs:sequence>             
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

   
    <!--Before save check exist-->
    <xs:element type="xs:boolean" name="checkExist"/>
    <xs:element type="xs:string" name="checkExistAttributes"/>
    <xs:element  name="ifExist">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="update" />
          <xs:enumeration value="delete" />
          <xs:enumeration value="stopAll" />
          <xs:enumeration value="none" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    
    <!--onError-->
    <xs:element  name="onError">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="log" />
          <xs:enumeration value="stopAll" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>

   
  </xs:sequence>
</xs:complexType>


<!--INTELLISCRAPER-->
<xs:element name="intelliScraper">
    <xs:complexType>
      <xs:sequence>

        <!--SETTING-->
        <xs:element name="settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="projectName"/>
              <xs:element type="xs:boolean" name="showInitialMessage"/>
              <xs:element type="xs:string" name="initialMessage"/>
              <xs:element type="xs:boolean" name="logIscraperInfo"/>

              <xs:element type="xs:boolean" name="useProxy"/>
              <xs:element type="xs:string" name="proxyFile"/>
              <xs:element type="xs:string" name="userAgent"/>
              <xs:element type="xs:boolean" name="useCustomUserAgentFileList"/>
              <xs:element type="xs:string" name="customUserAgentFile"/>
              <xs:element type="httpHeaders" name="globalHttpHeader" maxOccurs="unbounded" minOccurs="0" />              
              <xs:element type="xs:int" name="waitEachRequestMilliseconds"/>
              <xs:element type="xs:int" name="waitAfterError"/>
              <xs:element name="onError">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element  name="action">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="none" />
                          <xs:enumeration value="log" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:int" name="repeatTimes"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="imageFolderDownload"/>

              <xs:element  name="ftpSetting">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="authenticate" />
                    <xs:element type="xs:string" name="ftpServerString" />
                    <xs:element type="xs:string" name="user" />
                    <xs:element type="xs:string" name="pass" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
                
              <xs:element type="xs:boolean" name="usePageLoop"/>
              <xs:element  name="pageLoopInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MultiThreadOption">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:boolean" name="enableMultithread" />
                          <xs:element type="xs:boolean" name="setThreadMaxNumbers" />
                          <xs:element type="xs:int" name="ThreadNumbers" />
                        </xs:sequence>                        
                      </xs:complexType>                      
                    </xs:element>
                    
                    
                    <xs:element type="xs:string" name="urlFormat"/>
                    <xs:element type="xs:string" name="fetchHtml"/>
                    <xs:element type="xs:string" name="urlSearcher"/>
                    <xs:element type="xs:string" name="ruleId_getEndPage"/>
                    <xs:element type="xs:string" name="ruleId_executePage" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:int" name="start"/>
                    <xs:element type="xs:int" name="end"/>
                    <xs:element type="xs:string" name="appendBeforePageNumber"/>
                    <xs:element type="xs:string" name="appendAfterPageNumber"/>
                    <xs:element type="httpHeaders" name="customHttpHeader" maxOccurs="unbounded" minOccurs="0" />
                    <xs:element name="pageLoopType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="fromStart" />
                        <xs:enumeration value="fromZero_to_byRule" />
                          <xs:enumeration value="fromCustom_to_byRule" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>                  
                </xs:complexType>               
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="storeInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element  name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="sqlServer" />
                    <xs:enumeration value="sqlServerCE" />
                    <xs:enumeration value="MySql" />
                    <xs:enumeration value="PostgreSQL" />
                    <xs:enumeration value="Oracle" />
                    <xs:enumeration value="csv" />
                    <xs:enumeration value="none" />
                  </xs:restriction>                  
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="connection"/>
              <xs:element type="xs:string" name="providerName"/>
              <xs:element type="xs:string" name="csvHeader"/>
              <xs:element type="xs:string" name="csvFileSaveTo" />
              <xs:element type="xs:boolean" name="csvFileClear" />
              <xs:element type="xs:string" name="csvSeparator" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        
        <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="RuleEntity" name="Rule"/>
              <xs:element type="SaveEntity" name="Save"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

